<template name="emailTemplatesList">

    {{#unless id}}
        <h1>Email Templates List</h1>
        {{>atTable at=autoTable }}

    {{else}}
        <h1>Email Templates Edit <button class="btn btn-lg btn-primary back"><i class="fa fa-list"></i></button> </h1>

        {{#if Template.subscriptionsReady}}
            <div class="autoform-clear">


                {{#autoForm collection=collection id="emailTemplatesEdit" doc=doc   type="method-update" meteormethod="emailTemplateUpdate" template="bootstrap3"}}
                    {{> afQuickField name='description' template="bootstrap3"}}
                    {{> afQuickField name='subject' template="bootstrap3"}}
                    {{> afQuickField name='from' template="bootstrap3"}}
                    {{> afQuickField name='fromName' template="bootstrap3"}}
                    <div class="form-group{{#if afFieldIsInvalid name='body'}} has-error{{/if}}">
                        {{> afFieldInput name='body' settings=settings}}
                        {{#if afFieldIsInvalid name='body'}}
                            <span class="help-block">{{afFieldMessage name='body'}}</span>
                        {{/if}}
                    </div>
                    {{>buttonSubmit new=false edit=true}}

                {{/autoForm}}
                <!--button class="btn btn-danger send pull-left">Send</button-->

                <div class="clearfix"></div>
            </div>
        {{else}}
            {{>loading}}
        {{/if}}
    {{/unless}}



</template>