<template name="public">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-logo" href="#"><img src="/img/choice-home-stays-logo.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right nav-choice">
                    <li><a href="/">Home</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="{{pathFor 'information'}}">Imformation</a></li>
                    <li><a href="{{pathFor 'gallery'}}">Photos</a></li>
                    {{#if logged}}
                        <li><a href="{{pathFor 'familyList'}}">Private</a></li>
                    {{else}}
                        <li><a href="{{pathFor 'sign-in'}}">Sign In</a></li>
                    {{/if}}


                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="content">
        {{> Template.dynamic template=yield}}
    </div>
    <div class="footer-choice">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3>Contact</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>
                                <i class="fa fa-map-marker"></i> Address:
                            </strong>
                        </div>
                        <div class="col-sm-6">
                            <h5>1 Como Cres</h5>
                            <h5>Southport QLD 4215</h5>
                            <h5>Australia</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>
                                <i class="fa fa-edit"></i> Postal:
                            </strong>
                        </div>
                        <div class="col-sm-6">
                            <h5>PO Box 298</h5>
                            <h5>Helensvale, QLD 4212</h5>
                            <h5>Australia</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <strong>
                                <i class="fa fa-file-text"></i> ACN::
                            </strong>
                        </div>
                        <div class="col-sm-6">
                            <h5>142 098 600</h5>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3>Office Location</h3>
                    <div id="map-canvas" style="position: relative; overflow: hidden;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3523.640414884846!2d153.41676851518667!3d-27.97429674504794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b910f8c78ae27c1%3A0x44141f514bb1520f!2s1+Como+Cres%2C+Southport+QLD+4215!5e0!3m2!1ses-419!2sau!4v1479519023749"
                                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3>Photo Gallery</h3>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4  col-lg-6">
                            <a href="/gallery">
                                <img src="/img/1-300x225.jpg" alt="" class="img-responsive">
                            </a>
                            <br>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-6">
                            <a href="/gallery">
                                <img src="/img/2-300x225.jpg" alt="" class="img-responsive">
                            </a>
                            <br>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-6">
                            <a href="/gallery">
                                <img src="/img/3-300x225.jpg" alt="" class="img-responsive">
                            </a>
                            <br>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-6">
                            <a href="/gallery">
                                <img src="/img/4-300x225.jpg" alt="" class="img-responsive">
                            </a>
                            <br>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-6">
                            <a href="/gallery">
                                <img src="/img/5-300x225.jpg" alt="" class="img-responsive">
                            </a>
                            <br>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-6">
                            <a href="/gallery">
                                <img src="/img/6-300x225.jpg" alt="" class="img-responsive">
                            </a>
                            <br>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-6">
                            <a href="/gallery">
                                <img src="/img/7-300x225.jpg" alt="" class="img-responsive">
                            </a>
                            <br>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-lg-6">
                            <a href="/gallery">
                                <img src="/img/8-300x225.jpg" alt="" class="img-responsive">
                            </a>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h3>Participating Schools</h3>
                    <p>
                        We arrange homestay for students visiting Gold Coast and Brisbane schools including:
                    </p>
                    <ul>
                        <li>Gold Coast Christian College</li>
                        <li>St. Stephen's College</li>
                        <li>Hillcrest Christian College</li>
                        <li>Groves Christian College</li>
                        <li>Livingstone Christian College</li>
                        <li>Griffith University</li>
                        <li>Many public state schools</li>
                        <li>Many English language colleges</li>
                    </ul>
                </div>
            </div>
            <div class="row footer-choice__subrow">
                <div align="center">
                    2016 Choice Homestay
                </div>
            </div>
        </div>
    </div>
</template>